<div *ngIf="isLogin" class="flex h-screen bg-background">
  <div class="w-full max-w-xs m-auto bg-indigo-100  rounded p-5">
    <header>
      <img class="w-20 mx-auto mb-5" src="https://img.icons8.com/fluent/344/year-of-tiger.png"/>
    </header>
    <div>
      <label class="block mb-2 text-indigo-500" for="username_login">Username</label>
      <input [(ngModel)]="username"
             class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
             id="username_login" name="username_login" type="text">
    </div>
    <div>
      <label class="block mb-2 text-indigo-500" for="password_login">Password</label>
      <input [(ngModel)]="password"
             class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
             id="password_login" name="password_login" type="password">
    </div>
    <div>
      <button (click)="login()"
              class="w-full bg-indigo-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded"
              type="button">
        Login
      </button>
    </div>
    <footer>
      <button class="float-left">
        <a class="text-indigo-700 hover:text-pink-700 text-sm" href="#">Forgot Password?</a>
      </button>
      <button (click)="switchMode()" class="float-right">
        <a class="text-indigo-700 hover:text-pink-700 text-sm ">Create Account</a>
      </button>
    </footer>
  </div>
</div>


<div *ngIf="!isLogin" class="flex h-screen bg-background">
  <div class="w-full max-w-xs m-auto bg-indigo-100  rounded p-5">
    <header>
      <img class="w-20 mx-auto mb-5" src="https://img.icons8.com/fluent/344/year-of-tiger.png"/>
    </header>
    <div>
      <label class="block mb-2 text-indigo-500" for="username_reg">Username</label>
      <input [(ngModel)]="username"
             class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
             id="username_reg" name="username_reg" type="text">
    </div>
    <div>
      <label class="block mb-2 text-indigo-500" for="password_reg">Password</label>
      <input [(ngModel)]="password"
             class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
             id="password_reg" name="password_reg" type="password">
    </div>
    <div>
      <label class="block mb-2 text-indigo-500" for="password_reg_rep">Password</label>
      <input [(ngModel)]="passwordRep"
             class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300"
             id="password_reg_rep" name="password_reg_rep" type="password">
    </div>
    <div>
      <button (click)="register()"
              class="w-full bg-indigo-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded"
              type="button">
        Register
      </button>
    </div>
    <footer>
      <button class="float-left">
        <a class="text-indigo-700 hover:text-pink-700 text-sm" href="#">Forgot Password?</a>
      </button>
      <button (click)="switchMode()" class="float-right">
        <a class="text-indigo-700 hover:text-pink-700 text-sm ">Login to Account</a>
      </button>
    </footer>
  </div>
</div>

