@tailwind base;
@tailwind components;
@tailwind utilities;


.toast {
  position: fixed;
  z-index: 9999;
}

.toast-top-right {
  top: 1rem;
  right: 1rem;
}

.toast-top-left {
  top: 1rem;
  left: 1rem;
}

.toast-bottom-right {
  bottom: 1rem;
  right: 1rem;
}

.toast-bottom-left {
  bottom: 1rem;
  left: 1rem;
}

.toast-message{
  word-wrap: break-word;
  max-width: 200px;
}
